<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <body>
      <div class = "banner">
        <img class = "bannerLeft" src="/images/homelogo.png"></img>
        <button class = "bannerRight"><a href = "">Contact</a></button>
        <button class = "bannerRight"><a href = "/pages/about.html">About</a></button>
        <button class = "bannerRight"><a href = "">Prints</a></button>
        <button class = "bannerRight"><a href = "">Portfolio</a></button>
      </div>
    </body>
</head>
</html>
