.outerDiv {
  text-align: center;
  background-image: url("/images/background/grouse.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  overflow: auto;
  height: 100%;
  border-top: grey solid;
}
.outerDiv h1 {
  text-align: center;
}

.innerDiv {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: left;
  display: inline-block;
  padding: 20px;
  width: 30%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: lightgrey;
  font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#message {
  height: 200px;
}
input[type=submit] {
  background-color: #cccccc;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
    font-size: 20px;
  transition: 0.3s;
}
input[type=submit]:hover {
  opacity: 0.5;
}

.contact-container {
  margin-top: 30px;
  margin-bottom: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 20px;
  width: 15%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: lightgrey;
  font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
}
.contact-container h1 {
  text-align: right;
}
